<a href="https://colab.research.google.com/github/kmk3058/playdata_python_basic/blob/master/230620_pandas_01_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas?
* ëŒ€ë¶€ë¶„ì˜ ë°ì´í„°ëŠ” ì‹œê³„ì—´(series)ë‚˜ í‘œ(table)ë¡œ ë‚˜íƒ€ë‚¼ ìˆ˜ ìˆìŒ
* íŒë‹¤ìŠ¤(Pandas)ëŠ” ì´ëŸ¬í•œ ë°ì´í„°ë¥¼ ë‹¤ë£¨ê¸° ìœ„í•œ ì‹œë¦¬ì¦ˆ(`Series`) í´ë˜ìŠ¤ì™€ ë°ì´í„° í”„ë ˆì„(`DataFrame`) í´ë˜ìŠ¤ë¥¼ ì œê³µ

In [ ]:
import pandas as pd

## ì‹œë¦¬ì¦ˆ (Series)
* ì‹œë¦¬ì¦ˆëŠ” Numpyì—ì„œ ì œê³µí•˜ëŠ” 1ì°¨ì› ë°°ì—´ê³¼ ë¹„ìŠ·
* ê° ë°ì´í„°ì˜ ì˜ë¯¸(ì´ë¦„)ë¥¼ í‘œì‹œí•˜ëŠ” ì¸ë±ìŠ¤(index)ë¥¼ ë¶™ì¼ ìˆ˜ ìˆìŒ
> ë°ì´í„° ìì²´ëŠ” ê°’(value)ë¼ê³  í•¨
> ì‹œë¦¬ì¦ˆ = ê°’(value) + ì¸ë±ìŠ¤(index)

### ì‹œë¦¬ì¦ˆ ìƒì„±
* ë°ì´í„°ë¥¼ ë¦¬ìŠ¤íŠ¸ë‚˜ 1ì°¨ì› ë°°ì—´ í˜•ì‹ìœ¼ë¡œ Series í´ë˜ìŠ¤ ìƒì„±ìì— ë„£ì–´ì£¼ë©´ ì‹œë¦¬ì¦ˆ í´ë˜ìŠ¤ ê°ì²´ë¥¼ ë§Œë“¤ ìˆ˜ ìˆìŒ
* ì´ ë•Œ ì¸ë±ìŠ¤ì˜ ê¸¸ì´ëŠ” ë°ì´í„°ì˜ ê¸¸ì´ì™€ ê°™ì•„ì•¼ í•¨
* ì¸ë±ìŠ¤ì˜ ê°’ì„ ì¸ë±ìŠ¤ ë¼ë²¨(label)ì´ë¼ê³ ë„ í•¨
* ì¸ë±ìŠ¤ ë¼ë²¨ì€ ë¬¸ìì—´ ë¿ ì•„ë‹ˆë¼ ë‚ ì§œ, ì‹œê°„, ì •ìˆ˜ ë“±ë„ ê°€ëŠ¥

In [ ]:
data = [9904312, 3448737, 2890451, 2466052]
index = ["ì„œìš¸", "ë¶€ì‚°", "ì¸ì²œ", "ëŒ€êµ¬"]
s = pd.Series(data, index=index)
s

ì„œìš¸    9904312
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
ëŒ€êµ¬    2466052
dtype: int64

* ë§Œì•½ ì¸ë±ìŠ¤ë¥¼ ì§€ì •í•˜ì§€ ì•Šê³  ì‹œë¦¬ì¦ˆë¥¼ ë§Œë“¤ë©´ ì‹œë¦¬ì¦ˆì˜ ì¸ë±ìŠ¤ëŠ” 0ë¶€í„° ì‹œì‘í•˜ëŠ” ì •ìˆ˜ê°’ì´ ë¨

In [ ]:
pd.Series(range(10, 14)), pd.Series(range(10, 14), index=range(4))

(0    10
 1    11
 2    12
 3    13
 dtype: int64,
 0    10
 1    11
 2    12
 3    13
 dtype: int64)

* ì‹œë¦¬ì¦ˆì˜ ì¸ë±ìŠ¤ëŠ” `index` ì†ì„±ìœ¼ë¡œ ì ‘ê·¼í•  ìˆ˜ ìˆìŒ
* ì‹œë¦¬ì¦ˆì˜ ê°’ì€ 1ì°¨ì› ë°°ì—´ì´ë©° `values` ì†ì„±ìœ¼ë¡œ ì ‘ê·¼í•  ìˆ˜ ìˆìŒ

In [ ]:
s, s.index, s.values

(ë„ì‹œ
 ì„œìš¸    9904312
 ë¶€ì‚°    3448737
 ì¸ì²œ    2890451
 ëŒ€êµ¬    2466052
 Name: ì¸êµ¬, dtype: int64,
 Index(['ì„œìš¸', 'ë¶€ì‚°', 'ì¸ì²œ', 'ëŒ€êµ¬'], dtype='object', name='ë„ì‹œ'),
 array([9904312, 3448737, 2890451, 2466052]))

In [ ]:
s.values, type(s.values)

(array([9904312, 3448737, 2890451, 2466052]), numpy.ndarray)

* `name` ì†ì„±ì„ ì´ìš©í•˜ì—¬ ì‹œë¦¬ì¦ˆ ë°ì´í„°ì— ì´ë¦„ì„ ë¶™ì¼ ìˆ˜ ìˆìŒ
* `index.name` ì†ì„±ìœ¼ë¡œ ì‹œë¦¬ì¦ˆì˜ ì¸ë±ìŠ¤ì—ë„ ì´ë¦„ì„ ë¶™ì¼ ìˆ˜ ìˆìŒ

In [ ]:
s.name = 'ì¸êµ¬'
s.index.name = 'ë„ì‹œ'
s

ë„ì‹œ
ì„œìš¸    9904312
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
ëŒ€êµ¬    2466052
Name: ì¸êµ¬, dtype: int64

### ì‹œë¦¬ì¦ˆ ì—°ì‚°
* ë„˜íŒŒì´ ë°°ì—´ì²˜ëŸ¼ ì‹œë¦¬ì¦ˆë„ ë²¡í„°í™” ì—°ì‚°ì„ í•  ìˆ˜ ìˆìŒ
* ë‹¤ë§Œ **ì—°ì‚°ì€ ì‹œë¦¬ì¦ˆì˜ ê°’ì—ë§Œ ì ìš©ë˜ë©° ì¸ë±ìŠ¤ ê°’ì€ ë³€í•˜ì§€ ì•ŠìŒ**

In [ ]:
 s / 1_000_000 # ì¸ë±ìŠ¤ì—ëŠ” ì˜í–¥ì´ ë¯¸ì¹˜ì§€ ì•Šê³  ê°’ì—ë§Œ ì˜í–¥ì´ ë¯¸ì¹œë‹¤

ë„ì‹œ
ì„œìš¸    9.904312
ë¶€ì‚°    3.448737
ì¸ì²œ    2.890451
ëŒ€êµ¬    2.466052
Name: ì¸êµ¬, dtype: float64

### ì‹œë¦¬ì¦ˆ ì¸ë±ì‹± & ìŠ¬ë¼ì´ì‹±
* ì‹œë¦¬ì¦ˆëŠ” Numpy ë°°ì—´ì—ì„œ ê°€ëŠ¥í•œ ì¸ë±ìŠ¤ ë°©ë²• ì´ì™¸ì—ë„ ì¸ë±ìŠ¤ ë¼ë²¨ì„ ì´ìš©í•œ ì¸ë±ì‹±ë„ í•  ìˆ˜ ìˆìŒ
* ë°°ì—´ ì¸ë±ì‹±ì´ë‚˜ ì¸ë±ìŠ¤ ë¼ë²¨ì„ ì´ìš©í•œ ìŠ¬ë¼ì´ì‹±(slicing)ë„ ê°€ëŠ¥

In [ ]:
s

ë„ì‹œ
ì„œìš¸    9904312
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
ëŒ€êµ¬    2466052
Name: ì¸êµ¬, dtype: int64

In [ ]:
s[1], s["ë¶€ì‚°"]

(3448737, 3448737)

In [ ]:
s[3], s[-1], s['ëŒ€êµ¬']

(2466052, 2466052, 2466052)

In [ ]:
s[[0, 3, 1]]

ë„ì‹œ
ì„œìš¸    9904312
ëŒ€êµ¬    2466052
ë¶€ì‚°    3448737
Name: ì¸êµ¬, dtype: int64

In [ ]:
s[[0, 3, 1, 0]]

ë„ì‹œ
ì„œìš¸    9904312
ëŒ€êµ¬    2466052
ë¶€ì‚°    3448737
ì„œìš¸    9904312
Name: ì¸êµ¬, dtype: int64

In [ ]:
s[['ë¶€ì‚°', 'ì„œìš¸', 'ëŒ€êµ¬', 'ì„œìš¸']]

ë„ì‹œ
ë¶€ì‚°    3448737
ì„œìš¸    9904312
ëŒ€êµ¬    2466052
ì„œìš¸    9904312
Name: ì¸êµ¬, dtype: int64

In [ ]:
s[s>5_000_000]

ë„ì‹œ
ì„œìš¸    9904312
Name: ì¸êµ¬, dtype: int64

In [ ]:
# ì¸êµ¬ê°€ 250ë§Œ ì´ˆê³¼, 500ë§Œ ë¯¸ë§Œì¸ ê²½ìš°
s[(250e4 < s) & (500e4 > s) ]

ë„ì‹œ
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
Name: ì¸êµ¬, dtype: int64

* ìŠ¬ë¼ì´ì‹±ì„ í•´ë„ ë¶€ë¶„ì ì¸ ì‹œë¦¬ì¦ˆë¥¼ ë°˜í™˜
* ì´ ë•Œ *ë¬¸ìì—´ ë¼ë²¨ì„ ì´ìš©í•œ ìŠ¬ë¼ì´ì‹±*ì„ í•˜ëŠ” ê²½ìš°ì—ëŠ” **ìˆ«ì ì¸ë±ì‹±ê³¼ ë‹¬ë¦¬ ì½œë¡ (:) ê¸°í˜¸ ë’¤ì— ì˜¤ëŠ” ê°’ë„ ê²°ê³¼ì— í¬í•¨**ë˜ë¯€ë¡œ ì£¼ì˜

In [ ]:
s

ë„ì‹œ
ì„œìš¸    9904312
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
ëŒ€êµ¬    2466052
Name: ì¸êµ¬, dtype: int64

In [ ]:
s[1:3] # ë‘ë²ˆì§¸(1)ë¶€í„° ì„¸ë²ˆì§¸(2)ê¹Œì§€

ë„ì‹œ
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
Name: ì¸êµ¬, dtype: int64

In [ ]:
s["ì„œìš¸":"ëŒ€êµ¬"]

ë„ì‹œ
ì„œìš¸    9904312
ë¶€ì‚°    3448737
ì¸ì²œ    2890451
ëŒ€êµ¬    2466052
Name: ì¸êµ¬, dtype: int64

* ë§Œì•½ ë¼ë²¨ ê°’ì´ (ë³€ìˆ˜ë¡œ í‘œê¸°í•  ìˆ˜ ìˆëŠ”) ë¬¸ìì—´ê²½ìš°ì—ëŠ” ì¸ë±ìŠ¤ ë¼ë²¨ì´ ì†ì„±ì¸ê²ƒì²˜ëŸ¼ ì (.)ì„ ì´ìš©í•˜ì—¬ í•´ë‹¹ ì¸ë±ìŠ¤ ê°’ì— ì ‘ê·¼í•  ìˆ˜ë„ ìˆìŒ

In [ ]:
import numpy as np

In [ ]:
s0 = pd.Series(np.arange(3), index=list('abc'))
s0

a    0
b    1
c    2
dtype: int64

In [ ]:
s0['a'], s0.a

(0, 0)

In [ ]:
s0['b'], s0.b

(1, 1)

In [ ]:
# ê·¼ë° í•œêµ­ì–´ë„ ë¨ (python 3.2 or 3.3 ë²„ì „ ì´í›„ì˜ ê²½ìš°)
s.ì„œìš¸, s.ë¶€ì‚°, s.ëŒ€êµ¬

(9904312, 3448737, 2466052)

### ì‹œë¦¬ì¦ˆì™€ ë”•ì…”ë„ˆë¦¬ ìë£Œí˜•
* ì‹œë¦¬ì¦ˆ ê°ì²´ëŠ” ë¼ë²¨ ê°’ì— ì˜í•´ ì¸ë±ì‹±ì´ ê°€ëŠ¥í•˜ë¯€ë¡œ ì‹¤ì§ˆì ìœ¼ë¡œ ì¸ë±ìŠ¤ ë¼ë²¨ ê°’ì„ í‚¤(key)ë¡œ ê°€ì§€ëŠ” ë”•ì…”ë„ˆë¦¬ ìë£Œí˜•ê³¼ ìœ ì‚¬
* ë”°ë¼ì„œ ë”•ì…”ë„ˆë¦¬ ìë£Œí˜•ì—ì„œ ì œê³µí•˜ëŠ” in ì—°ì‚°ë„ ê°€ëŠ¥í•˜ê³  items ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ë©´ for ë£¨í”„ë¥¼ í†µí•´ ê° ì›ì†Œì˜ í‚¤(key)ì™€ ê°’(value)ì„ ì ‘ê·¼í•  ìˆ˜ë„ ìˆìŒ

In [ ]:
"ì„œìš¸" in s, "ì„œìš¸" in s.index # ì‹œë¦¬ì¦ˆ s ì•ˆì— 'ì„œìš¸'ì´ë¼ëŠ” ì¸ë±ìŠ¤ ë¼ë²¨(í‚¤)ê°€ ìˆë‚˜ìš”?

(True, True)

In [ ]:
"ëŒ€ì „" in s, "ëŒ€ì „" not in s

(False, True)

In [ ]:
# for i in s.items()
for k,v in s.items():
  # print(i)
  print(f"{k} = {v}")

ì„œìš¸ = 9904312
ë¶€ì‚° = 3448737
ì¸ì²œ = 2890451
ëŒ€êµ¬ = 2466052

* ë”•ì…”ë„ˆë¦¬ ê°ì²´ì—ì„œ ì‹œë¦¬ì¦ˆë¥¼ ë§Œë“¤ ìˆ˜ë„ ìˆìŒ

In [ ]:
s2 = pd.Series({
    "ì„œìš¸": 9631482,
    "ë¶€ì‚°": 3393191,
    "ì¸ì²œ": 2632035,
    "ëŒ€ì „": 1490158
})
s2

ì„œìš¸    9631482
ë¶€ì‚°    3393191
ì¸ì²œ    2632035
ëŒ€ì „    1490158
dtype: int64

* ë”•ì…”ë„ˆë¦¬ì˜ ì›ì†ŒëŠ” ìˆœì„œë¥¼ ê°€ì§€ì§€ ì•Šìœ¼ë¯€ë¡œ ì‹œë¦¬ì¦ˆì˜ ë°ì´í„°ë„ ìˆœì„œê°€ ë³´ì¥ë˜ì§€ ì•ŠìŒ
* ë§Œì•½ ìˆœì„œë¥¼ ì •í•˜ê³  ì‹¶ë‹¤ë©´ ì¸ë±ìŠ¤ë¥¼ ë¦¬ìŠ¤íŠ¸ë¡œ ì§€ì •í•´ì•¼ í•¨

In [ ]:
s2 = pd.Series({
    "ì„œìš¸": 9631482,
    "ë¶€ì‚°": 3393191,
    "ì¸ì²œ": 2632035,
    "ëŒ€ì „": 1490158
}, index=["ë¶€ì‚°", "ì„œìš¸", "ì¸ì²œ", "ëŒ€ì „"])
s2

ë¶€ì‚°    3393191
ì„œìš¸    9631482
ì¸ì²œ    2632035
ëŒ€ì „    1490158
dtype: int64

### ì¸ë±ìŠ¤ ê¸°ë°˜ ì—°ì‚°
* ë‘ ì‹œë¦¬ì¦ˆì— ëŒ€í•´ ì—°ì‚°ì„ í•˜ëŠ” ê²½ìš° ì¸ë±ìŠ¤ê°€ ê°™ì€ ë°ì´í„°ì— ëŒ€í•´ì„œë§Œ ì°¨ì´ë¥¼ êµ¬í•¨

In [ ]:
s, s2

(ë„ì‹œ
 ì„œìš¸    9904312
 ë¶€ì‚°    3448737
 ì¸ì²œ    2890451
 ëŒ€êµ¬    2466052
 Name: ì¸êµ¬, dtype: int64,
 ì„œìš¸    9631482
 ë¶€ì‚°    3393191
 ì¸ì²œ    2632035
 ëŒ€ì „    1490158
 dtype: int64)

In [ ]:
ds = s - s2
ds

ëŒ€êµ¬         NaN
ëŒ€ì „         NaN
ë¶€ì‚°     55546.0
ì„œìš¸    272830.0
ì¸ì²œ    258416.0
dtype: float64

In [ ]:
s.values - s2.values # ê°•ì œë¡œ ìœ„ì¹˜ë¡œ ê³„ì‚°í•œ ê²ƒì´ê¸° ë•Œë¬¸ì— ì •í™•í•œ ê²ƒì´ ì•„ë‹ˆë‹¤.

array([272830,  55546, 258416, 975894])

In [ ]:
# NaNì¸ ê°’ì„ êµ¬í•˜ê³  ì‹¶ë‹¤ë©´ null ë©”ì†Œë“œë¥¼ ì‚¬ìš©
ds.isnull(), ds.notnull()

(ëŒ€êµ¬     True
 ëŒ€ì „     True
 ë¶€ì‚°    False
 ì„œìš¸    False
 ì¸ì²œ    False
 dtype: bool,
 ëŒ€êµ¬    False
 ëŒ€ì „    False
 ë¶€ì‚°     True
 ì„œìš¸     True
 ì¸ì²œ     True
 dtype: bool)

In [ ]:
ds.notna()

ëŒ€êµ¬    False
ëŒ€ì „    False
ë¶€ì‚°     True
ì„œìš¸     True
ì¸ì²œ     True
dtype: bool

In [ ]:
ds[ds.isnull()], ds[ds.notnull()]

(ëŒ€êµ¬   NaN
 ëŒ€ì „   NaN
 dtype: float64,
 ë¶€ì‚°     55546.0
 ì„œìš¸    272830.0
 ì¸ì²œ    258416.0
 dtype: float64)

In [ ]:
# ì¸êµ¬ ì¦ê°€ìœ¨ êµ¬í•˜ê¸° (%)
rs = (s -s2) / s2 * 100
# rs = rs[rs.notnull()]
rs = rs.dropna()
rs

ë¶€ì‚°    1.636984
ì„œìš¸    2.832690
ì¸ì²œ    9.818107
dtype: float64

### ë°ì´í„°ì˜ ê°±ì‹ , ì¶”ê°€, ì‚­ì œ
* ì¸ë±ì‹±ì„ ì´ìš©í•˜ì—¬ ë”•ì…”ë„ˆë¦¬ì²˜ëŸ¼ ë°ì´í„°ë¥¼ ê°±ì‹ (update) í˜¹ì€ ì¶”ê°€(add)

In [ ]:
rs

ë¶€ì‚°    1.636984
ì„œìš¸    2.832690
ì¸ì²œ    9.818107
dtype: float64

In [ ]:
rs['ë¶€ì‚°'] = 1.63
rs

ë¶€ì‚°    1.630000
ì„œìš¸    2.832690
ì¸ì²œ    9.818107
dtype: float64

In [ ]:
rs['ëŒ€êµ¬'] = 1.573
rs

ë¶€ì‚°    1.630000
ì„œìš¸    2.832690
ì¸ì²œ    9.818107
ëŒ€êµ¬    1.573000
dtype: float64

In [ ]:
# ë°ì´í„° ì‚­ì œì‹œ del ëª…ë ¹ ì‚¬ìš©
del rs['ì„œìš¸']
rs

ë¶€ì‚°    1.630000
ì¸ì²œ    9.818107
ëŒ€êµ¬    1.573000
dtype: float64

### ğŸ¦† ì—°ìŠµë¬¸ì œ 1
1. ì„ì˜ë¡œ ë‘ ê°œì˜ ì‹œë¦¬ì¦ˆ ê°ì²´ë¥¼ ë§Œë“ ë‹¤. ëª¨ë‘ ë¬¸ìì—´ ì¸ë±ìŠ¤ë¥¼ ê°€ì ¸ì•¼ í•˜ë©° ë‘ ì‹œë¦¬ì¦ˆì— ê³µí†µì ìœ¼ë¡œ í¬í•¨ë˜ì§€ ì•ŠëŠ” ë¼ë²¨ì´ ìˆì–´ì•¼ í•œë‹¤.
1. ìœ„ì—ì„œ ë§Œë“  ë‘ ì‹œë¦¬ì¦ˆ ê°ì²´ë¥¼ ì´ìš©í•˜ì—¬ ì‚¬ì¹™ ì—°ì‚°ì„ í•œë‹¤.

In [ ]:
a = pd.Series()

(array(['E', 'B', 'D'], dtype='<U1'), array(['E', 'D', 'B'], dtype='<U1'))

(E    0.027145
 B    0.091685
 D    0.481127
 dtype: float64, E    0.563131
 D   -0.865738
 B   -1.343808
 dtype: float64)

B   -1.252122
D   -0.384611
E    0.590276
dtype: float64

B    1.435493
D    1.346866
E   -0.535987
dtype: float64

B   -0.123207
D   -0.416531
E    0.015286
dtype: float64

B   -0.068228
D   -0.555742
E    0.048203
dtype: float64

## ë°ì´í„°í”„ë ˆì„ (DataFrame)
* ì‹œë¦¬ì¦ˆê°€ 1ì°¨ì› ë°°ì—´ ë°ì´í„°ì— í–‰ë°©í–¥ ì¸ë±ìŠ¤(row index)ë¥¼ ë¶™ì¸ ê²ƒì´ë¼ë©´ ë°ì´í„°í”„ë ˆì„ëŠ” 2ì°¨ì› í–‰ë ¬ ë°ì´í„°ì— ì¸ë±ìŠ¤ë¥¼ ë¶™ì¸ ê²ƒ
* 2ì°¨ì›ì´ë¯€ë¡œ ê°ê°ì˜ í–‰ ë°ì´í„°ì˜ ì´ë¦„ì´ ë˜ëŠ” í–‰ ì¸ë±ìŠ¤(row index) ë¿ ì•„ë‹ˆë¼ ê°ê°ì˜ ì—´ ë°ì´í„°ì˜ ì´ë¦„ì´ ë˜ëŠ” ì—´ ì¸ë±ìŠ¤(column index)ë„ ë¶™ì¼ ìˆ˜ ìˆìŒ

### ë°ì´í„°í”„ë ˆì„ ìƒì„±
1. í•˜ë‚˜ì˜ ì—´ì´ ë˜ëŠ” ë°ì´í„°ë¥¼ ë¦¬ìŠ¤íŠ¸ë‚˜ ì¼ì°¨ì› ë°°ì—´ì„ ì¤€ë¹„
1. ì´ ê°ê°ì˜ ì—´ì— ëŒ€í•œ ì´ë¦„(ë¼ë²¨)ì„ í‚¤ë¡œ ê°€ì§€ëŠ” ë”•ì…”ë„ˆë¦¬ë¥¼ ìƒì„±
1. ì´ ë°ì´í„°ë¥¼ DataFrame ìƒì„±ìì— ë„£ìŒ. ë™ì‹œì— ì—´ë°©í–¥ ì¸ë±ìŠ¤ëŠ” `columns` ì¸ìˆ˜ë¡œ, í–‰ë°©í–¥ ì¸ë±ìŠ¤ëŠ” `index` ì¸ìˆ˜ë¡œ ì§€ì •

In [ ]:
import pandas as pd

data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "ì§€ì—­": ["ìˆ˜ë„ê¶Œ", "ê²½ìƒê¶Œ", "ìˆ˜ë„ê¶Œ", "ê²½ìƒê¶Œ"],
    "2010-2015 ì¦ê°€ìœ¨": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["ì§€ì—­", "2015", "2010", "2005", "2000", "2010-2015 ì¦ê°€ìœ¨"]
index = ["ì„œìš¸", "ë¶€ì‚°", "ì¸ì²œ", "ëŒ€êµ¬"]

In [ ]:
df = pd.DataFrame(data, columns=columns, index=index)
df

     ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972         0.0283
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437         0.0163
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338         0.0982
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990         0.0141

* ë°ì´í„°í”„ë ˆì„ì€ ê³µí†µ ì¸ë±ìŠ¤ë¥¼ ê°€ì§€ëŠ” ì—´ ì‹œë¦¬ì¦ˆ(column series)ë¥¼ ë”•ì…”ë„ˆë¦¬ë¡œ ë¬¶ì–´ë†“ì€ ê²ƒì´ë¼ê³  ë³´ëŠ” ê²ƒì´ ë” ì •í™•
* ë°ì´í„°í”„ë ˆì„ì€ ê° ì—´(column)ë§ˆë‹¤ ìë£Œí˜•ì´ ë‹¤ë¥¼ ìˆ˜ ìˆìŒ (2ì°¨ì› ë°°ì—´ì´ë¼ê³  ë³´ê¸°ì—” ë¬´ë¦¬)
---
* ë°ì´í„°ë§Œ ì ‘ê·¼í•˜ë ¤ë©´ `values` ì†ì„± ì‚¬ìš©
* ì—´ë°©í–¥ ì¸ë±ìŠ¤ : `columns` ì†ì„±
* í–‰ë°©í–¥ ì¸ë±ìŠ¤ : `index` ì†ì„±

In [ ]:
df.values

array([['ìˆ˜ë„ê¶Œ', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['ê²½ìƒê¶Œ', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['ìˆ˜ë„ê¶Œ', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['ê²½ìƒê¶Œ', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [ ]:
df.columns

Index(['ì§€ì—­', '2015', '2010', '2005', '2000', '2010-2015 ì¦ê°€ìœ¨'], dtype='object')

In [ ]:
df.index

Index(['ì„œìš¸', 'ë¶€ì‚°', 'ì¸ì²œ', 'ëŒ€êµ¬'], dtype='object')

In [ ]:
# ì‹œë¦¬ì¦ˆì²˜ëŸ¼ ì—´ë°©í–¥ ì¸ë±ìŠ¤ì™€ í–‰ë°©í–¥ ì¸ë±ìŠ¤ì— ì´ë¦„ì„ ë¶™ì´ëŠ” ê²ƒë„ ê°€ëŠ¥
df.index.name = 'ë„ì‹œ'
df.columns.name = 'íŠ¹ì„±'
df

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972         0.0283
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437         0.0163
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338         0.0982
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990         0.0141

### ğŸ¦† ì—°ìŠµë¬¸ì œ 2
ë‹¤ìŒ ì¡°ê±´ì„ ë§Œì¡±í•˜ëŠ” ì„ì˜ì˜ ë°ì´í„°í”„ë ˆì„ì„ í•˜ë‚˜ ë§Œë“ ë‹¤.

1. ì—´ì˜ ê°¯ìˆ˜ì™€ í–‰ì˜ ê°¯ìˆ˜ê°€ ê°ê° 5ê°œ ì´ìƒì´ì–´ì•¼ í•œë‹¤.
1. ì—´ì—ëŠ” ì •ìˆ˜, ë¬¸ìì—´, ì‹¤ìˆ˜ ìë£Œí˜• ë°ì´í„°ê°€ ê°ê° 1ê°œ ì´ìƒì”© í¬í•¨ë˜ì–´ ìˆì–´ì•¼ í•œë‹¤.

In [ ]:
hotel_data = {
    'í˜¸í…”ì„±ê¸‰' : ['2ì„±', '5ì„±', '2ì„±', '1ì„±', '1ì„±'],
    'íŒë§¤ê°€ëŠ¥ê°ì‹¤ìˆ˜' : [899, 16492, 2790, 1800, 930],
    'íŒë§¤ê°ì‹¤ìˆ˜' : [642, 12949, 1098, 630, 210],
    'ê°ì‹¤ë§¤ì¶œì•¡(ë§Œì›)' : [3210000, 3883480000, 70000000, 31500000, 10500000],
    'ì •ê·œì§ì¸ì›' : [0, 371, 2, 2, 2],
}
columns = ['í˜¸í…”ì„±ê¸‰', 'íŒë§¤ê°€ëŠ¥ê°ì‹¤ìˆ˜', 'íŒë§¤ê°ì‹¤ìˆ˜', 'ê°ì‹¤ë§¤ì¶œì•¡(ë§Œì›)', 'ì •ê·œì§ì¸ì›']
index = ['ìëª½', 'íŒŒë¼ë‹¤ì´ìŠ¤í˜¸í…”ë¶€ì‚°', 'í˜¸í…”DM', 'ë‚˜ì´ìŠ¤íƒ€ì„ê´€ê´‘í˜¸í…”', 'ì—˜ë¡œë§ˆë¦°í˜¸í…”']

In [ ]:
hotel_data_df = pd.DataFrame(data=hotel_data, columns=columns, index=index)
hotel_data_df

          í˜¸í…”ì„±ê¸‰  íŒë§¤ê°€ëŠ¥ê°ì‹¤ìˆ˜  íŒë§¤ê°ì‹¤ìˆ˜   ê°ì‹¤ë§¤ì¶œì•¡(ë§Œì›)  ì •ê·œì§ì¸ì›
ìëª½          2ì„±      899    642     3210000      0
íŒŒë¼ë‹¤ì´ìŠ¤í˜¸í…”ë¶€ì‚°   5ì„±    16492  12949  3883480000    371
í˜¸í…”DM        2ì„±     2790   1098    70000000      2
ë‚˜ì´ìŠ¤íƒ€ì„ê´€ê´‘í˜¸í…”   1ì„±     1800    630    31500000      2
ì—˜ë¡œë§ˆë¦°í˜¸í…”      1ì„±      930    210    10500000      2

In [ ]:
# ë°ì´í„°í”„ë ˆì„ì€ ì „ì¹˜(transpose)ë¥¼ í¬í•¨í•˜ì—¬ ë„˜íŒŒì´ 2ì°¨ì› ë°°ì—´ì´ ê°€ì§€ëŠ” ëŒ€ë¶€ë¶„ì˜ ì†ì„±ì´ë‚˜ ë©”ì„œë“œë¥¼ ì§€ì›
df.T

ë„ì‹œ                  ì„œìš¸       ë¶€ì‚°       ì¸ì²œ       ëŒ€êµ¬
íŠ¹ì„±
ì§€ì—­                 ìˆ˜ë„ê¶Œ      ê²½ìƒê¶Œ      ìˆ˜ë„ê¶Œ      ê²½ìƒê¶Œ
2015           9904312  3448737  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
2010-2015 ì¦ê°€ìœ¨   0.0283   0.0163   0.0982   0.0141

In [ ]:
hotel_data_df.T

                ìëª½   íŒŒë¼ë‹¤ì´ìŠ¤í˜¸í…”ë¶€ì‚°      í˜¸í…”DM ë‚˜ì´ìŠ¤íƒ€ì„ê´€ê´‘í˜¸í…”    ì—˜ë¡œë§ˆë¦°í˜¸í…”
í˜¸í…”ì„±ê¸‰            2ì„±          5ì„±        2ì„±        1ì„±        1ì„±
íŒë§¤ê°€ëŠ¥ê°ì‹¤ìˆ˜        899       16492      2790      1800       930
íŒë§¤ê°ì‹¤ìˆ˜          642       12949      1098       630       210
ê°ì‹¤ë§¤ì¶œì•¡(ë§Œì›)  3210000  3883480000  70000000  31500000  10500000
ì •ê·œì§ì¸ì›            0         371         2         2         2

### ì—´ ë°ì´í„°ì˜ ê°±ì‹ , ì¶”ê°€, ì‚­ì œ
* ë°ì´í„°í”„ë ˆì„ì€ ì—´ ì‹œë¦¬ì¦ˆì˜ ë”•ì…”ë„ˆë¦¬ìœ¼ë¡œ ë³¼ ìˆ˜ ìˆìœ¼ë¯€ë¡œ ì—´ ë‹¨ìœ„ë¡œ ë°ì´í„°ë¥¼ ê°±ì‹ í•˜ê±°ë‚˜ ì¶”ê°€, ì‚­ì œí•  ìˆ˜ ìˆìŒ

In [ ]:
df['ì§€ì—­'], type[df['ì§€ì—­']]

(ë„ì‹œ
 ì„œìš¸    ìˆ˜ë„ê¶Œ
 ë¶€ì‚°    ê²½ìƒê¶Œ
 ì¸ì²œ    ìˆ˜ë„ê¶Œ
 ëŒ€êµ¬    ê²½ìƒê¶Œ
 Name: ì§€ì—­, dtype: object,
 type[ë„ì‹œ
 ì„œìš¸    ìˆ˜ë„ê¶Œ
 ë¶€ì‚°    ê²½ìƒê¶Œ
 ì¸ì²œ    ìˆ˜ë„ê¶Œ
 ëŒ€êµ¬    ê²½ìƒê¶Œ
 Name: ì§€ì—­, dtype: object])

In [ ]:
df['ì§€ì—­']['ì„œìš¸'], df['ì§€ì—­'][0], df['ì§€ì—­'][0:3], df['ì§€ì—­']['ì„œìš¸':'ëŒ€êµ¬'], df['ì§€ì—­'][-1]

('ìˆ˜ë„ê¶Œ',
 'ìˆ˜ë„ê¶Œ',
 ë„ì‹œ
 ì„œìš¸    ìˆ˜ë„ê¶Œ
 ë¶€ì‚°    ê²½ìƒê¶Œ
 ì¸ì²œ    ìˆ˜ë„ê¶Œ
 Name: ì§€ì—­, dtype: object,
 ë„ì‹œ
 ì„œìš¸    ìˆ˜ë„ê¶Œ
 ë¶€ì‚°    ê²½ìƒê¶Œ
 ì¸ì²œ    ìˆ˜ë„ê¶Œ
 ëŒ€êµ¬    ê²½ìƒê¶Œ
 Name: ì§€ì—­, dtype: object,
 'ê²½ìƒê¶Œ')

In [ ]:
df['2010-2015 ì¦ê°€ìœ¨'] * 100

ë„ì‹œ
ì„œìš¸    2.83
ë¶€ì‚°    1.63
ì¸ì²œ    9.82
ëŒ€êµ¬    1.41
Name: 2010-2015 ì¦ê°€ìœ¨, dtype: float64

In [ ]:
df['2010-2015 ì¦ê°€ìœ¨'] = df['2010-2015 ì¦ê°€ìœ¨'] * 100
df.head()

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972           2.83
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437           1.63
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338           9.82
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990           1.41

In [ ]:
df['2005-2010 ì¦ê°€ìœ¨']  = ((df['2010'] - df['2005']) / df['2005'] * 100).round(2)
df

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨  2005-2010 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972           2.83          -1.34
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437           1.63          -3.40
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338           9.82           4.54
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990           1.41          -0.99

In [ ]:
del df['2005-2010 ì¦ê°€ìœ¨']
df

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972           2.83
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437           1.63
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338           9.82
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990           1.41

### ì—´ ì¸ë±ì‹±
* ë°ì´í„°í”„ë ˆì„ì€ ì—´ ë¼ë²¨ì„ í‚¤ë¡œ, ì—´ ì‹œë¦¬ì¦ˆë¥¼ ê°’ìœ¼ë¡œ ê°€ì§€ëŠ” ë”•ì…”ë„ˆë¦¬ì™€ ìœ ì‚¬
* ë”°ë¼ì„œ ë°ì´í„°í”„ë ˆì„ì„ ì¸ë±ì‹±ì„ í•  ë•Œë„ ì—´ ë¼ë²¨(column label)ì„ í‚¤ê°’ìœ¼ë¡œ ìƒê°í•˜ì—¬ ì¸ë±ì‹±ì„ í•  ìˆ˜ ìˆìŒ
* ì¸ë±ìŠ¤ë¡œ ë¼ë²¨ ê°’ì„ í•˜ë‚˜ë§Œ ë„£ìœ¼ë©´ ì‹œë¦¬ì¦ˆ ê°ì²´ê°€ ë°˜í™˜ë˜ê³  ë¼ë²¨ì˜ ë°°ì—´ ë˜ëŠ” ë¦¬ìŠ¤íŠ¸ë¥¼ ë„£ìœ¼ë©´ ë¶€ë¶„ì ì¸ ë°ì´í„°í”„ë ˆì„ì´ ë°˜í™˜

In [ ]:
# í•˜ë‚˜ì˜ ì—´ë§Œ ì¸ë±ì‹±í•˜ë©´ ì‹œë¦¬ì¦ˆê°€ ë°˜í™˜
df['ì§€ì—­']

ë„ì‹œ
ì„œìš¸    ìˆ˜ë„ê¶Œ
ë¶€ì‚°    ê²½ìƒê¶Œ
ì¸ì²œ    ìˆ˜ë„ê¶Œ
ëŒ€êµ¬    ê²½ìƒê¶Œ
Name: ì§€ì—­, dtype: object

In [ ]:
# ì—¬ëŸ¬ê°œì˜ ì—´ì„ ì¸ë±ì‹±í•˜ë©´ ë¶€ë¶„ì ì¸ ë°ì´í„°í”„ë ˆì„ì´ ë°˜í™˜
df[['2010', '2015']]

íŠ¹ì„±     2010     2015
ë„ì‹œ
ì„œìš¸  9631482  9904312
ë¶€ì‚°  3393191  3448737
ì¸ì²œ  2632035  2890451
ëŒ€êµ¬  2431774  2466052

* ë§Œì•½ í•˜ë‚˜ì˜ ì—´ë§Œ ë¹¼ë‚´ë©´ì„œ ë°ì´í„°í”„ë ˆì„ ìë£Œí˜•ì„ ìœ ì§€í•˜ê³  ì‹¶ë‹¤ë©´ ì›ì†Œê°€ í•˜ë‚˜ì¸ ë¦¬ìŠ¤íŠ¸ë¥¼ ì¨ì„œ ì¸ë±ì‹±

In [ ]:
# 2010ì´ë¼ëŠ” ì—´ì„ ë°˜í™˜í•˜ë©´ì„œ ë°ì´í„°í”„ë ˆì„ ìë£Œí˜•ì„ ìœ ì§€
df[['2010']]

íŠ¹ì„±     2010
ë„ì‹œ
ì„œìš¸  9631482
ë¶€ì‚°  3393191
ì¸ì²œ  2632035
ëŒ€êµ¬  2431774

In [ ]:
type(df['2010'])

pandas.core.series.Series

In [ ]:
# 2010ì´ë¼ëŠ” ì—´ì„ ë°˜í™˜í•˜ë©´ì„œ ì‹œë¦¬ì¦ˆ ìë£Œí˜•ìœ¼ë¡œ ë³€í™˜

ë„ì‹œ
ì„œìš¸    9631482
ë¶€ì‚°    3393191
ì¸ì²œ    2632035
ëŒ€êµ¬    2431774
Name: 2010, dtype: int64

pandas.core.series.Series

* ë°ì´í„°í”„ë ˆì„ì˜ ì—´ ì¸ë±ìŠ¤ê°€ ë¬¸ìì—´ ë¼ë²¨ì„ ê°€ì§€ê³  ìˆëŠ” ê²½ìš°ì—ëŠ” ìˆœì„œë¥¼ ë‚˜íƒ€ë‚´ëŠ” ì •ìˆ˜ ì¸ë±ìŠ¤ë¥¼ ì—´ ì¸ë±ì‹±ì— ì‚¬ìš©í•  ìˆ˜ ì—†ìŒ
* ì •ìˆ˜ ì¸ë±ì‹±ì˜ ìŠ¬ë¼ì´ìŠ¤ëŠ” í–‰(row)ì„ ì¸ë±ì‹±í•  ë•Œ ì‚¬ìš©í•˜ë¯€ë¡œ ì—´ì„ ì¸ë±ì‹±í•  ë•ŒëŠ” ì“¸ ìˆ˜ ì—†ìŒ (ì •ìˆ˜ ì¸ë±ìŠ¤ë¥¼ ë„£ìœ¼ë©´ KeyError ì˜¤ë¥˜ê°€ ë°œìƒ)

0
<class 'KeyError'>

* ë‹¤ë§Œ ì›ë˜ë¶€í„° ë¬¸ìì—´ì´ ì•„ë‹Œ ì •ìˆ˜í˜• ì—´ ì¸ë±ìŠ¤ë¥¼ ê°€ì§€ëŠ” ê²½ìš°ì—ëŠ” ì¸ë±ìŠ¤ ê°’ìœ¼ë¡œ ì •ìˆ˜ë¥¼ ì‚¬ìš©í•  ìˆ˜ ìˆìŒ

In [ ]:
df2 = pd.DataFrame(np.arange(12).reshape(3, -1))
df2

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [ ]:
df2[1]

0    1
1    5
2    9
Name: 1, dtype: int64

In [ ]:
df2[[1, 2]]

   1   2
0  1   2
1  5   6
2  9  10

### í–‰ ì¸ë±ì‹±
* ë§Œì•½ í–‰ ë‹¨ìœ„ë¡œ ì¸ë±ì‹±ì„ í•˜ê³ ì í•˜ë©´ í•­ìƒ ìŠ¬ë¼ì´ì‹±(slicing)ì„ í•´ì•¼í•¨
* ì¸ë±ìŠ¤ì˜ ê°’ì´ ë¬¸ì ë¼ë²¨ì´ë©´ ë¼ë²¨ ìŠ¬ë¼ì´ì‹±ë„ ê°€ëŠ¥

In [ ]:
df

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972           2.83
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437           1.63
ì¸ì²œ  ìˆ˜ë„ê¶Œ  2890451  2632035  2517680  2466338           9.82
ëŒ€êµ¬  ê²½ìƒê¶Œ  2466052  2431774  2456016  2473990           1.41

In [ ]:
df[0:1], df[:1]

(íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
 ë„ì‹œ
 ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972           2.83,
 íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2010-2015 ì¦ê°€ìœ¨
 ë„ì‹œ
 ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972           2.83)

íŠ¹ì„±   ì§€ì—­     2015     2010     2005     2000  2005-2010 ì¦ê°€ìœ¨
ë„ì‹œ
ì„œìš¸  ìˆ˜ë„ê¶Œ  9904312  9631482  9762546  9853972          -1.34
ë¶€ì‚°  ê²½ìƒê¶Œ  3448737  3393191  3512547  3655437          -3.40

### ê°œë³„ ë°ì´í„° ì¸ë±ì‹±
* ë°ì´í„°í”„ë ˆì„ì—ì„œ ì—´ ë¼ë²¨ë¡œ ì‹œë¦¬ì¦ˆë¥¼ ì¸ë±ì‹±í•˜ë©´ ì‹œë¦¬ì¦ˆê°€ ë¨. ì´ ì‹œë¦¬ì¦ˆë¥¼ ë‹¤ì‹œ í–‰ ë¼ë²¨ë¡œ ì¸ë±ì‹±í•˜ë©´ ê°œë³„ ë°ì´í„°ê°€ ë‚˜ì˜´.

9904312

### ë°ì´í„° í”„ë ˆì„ ì¸ë±ì‹± ë°©ë²• ì •ë¦¬
|ì¸ë±ì‹± ê°’|ê°€ëŠ¥|ê²°ê³¼|ìë£Œí˜•|ì¶”ê°€ì‚¬í•­|
|:-|:-|:-|:-|:-|
|ë¼ë²¨|O|ì—´|ì‹œë¦¬ì¦ˆ||
|ë¼ë²¨ ë¦¬ìŠ¤íŠ¸|O|ì—´|ë°ì´í„°í”„ë ˆì„||
|ì¸ë±ìŠ¤ ë°ì´í„° (ì •ìˆ˜)|X||ì—´ ë¼ë²¨ì´ ì •ìˆ˜ì¸ ê²½ìš°ì—ëŠ” ë¼ë²¨ ì¸ë±ì‹±ìœ¼ë¡œ ì¸ì •|
|ì¸ë±ìŠ¤ ë°ì´í„°(ì •ìˆ˜) ìŠ¬ë¼ì´ìŠ¤|O|í–‰|ë°ì´í„°í”„ë ˆì„||

### ğŸ¦† ì—°ìŠµë¬¸ì œ 3
```
data = {
    "êµ­ì–´": [80, 90, 70, 30],
    "ì˜ì–´": [90, 70, 60, 40],
    "ìˆ˜í•™": [90, 60, 80, 70],
}
columns = ["êµ­ì–´", "ì˜ì–´", "ìˆ˜í•™"]
index = ["ì¶˜í–¥", "ëª½ë£¡", "í–¥ë‹¨", "ë°©ì"]
df = pd.DataFrame(data, index=index, columns=columns)
```
1. ëª¨ë“  í•™ìƒì˜ ìˆ˜í•™ ì ìˆ˜ë¥¼ ì‹œë¦¬ì¦ˆë¡œ ë‚˜íƒ€ë‚¸ë‹¤.
1. ëª¨ë“  í•™ìƒì˜ êµ­ì–´ì™€ ì˜ì–´ ì ìˆ˜ë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë‚˜íƒ€ë‚¸ë‹¤.
1. ëª¨ë“  í•™ìƒì˜ ê° ê³¼ëª© í‰ê·  ì ìˆ˜ë¥¼ ìƒˆë¡œìš´ ì—´ë¡œ ì¶”ê°€í•œë‹¤.
1. ë°©ìì˜ ì˜ì–´ ì ìˆ˜ë¥¼ 80ì ìœ¼ë¡œ ìˆ˜ì •í•˜ê³  í‰ê·  ì ìˆ˜ë„ ë‹¤ì‹œ ê³„ì‚°í•œë‹¤.
1. ì¶˜í–¥ì˜ ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë‚˜íƒ€ë‚¸ë‹¤.
1. í–¥ë‹¨ì˜ ì ìˆ˜ë¥¼ ì‹œë¦¬ì¦ˆë¡œ ë‚˜íƒ€ë‚¸ë‹¤.

In [ ]:
data = {
    "êµ­ì–´": [80, 90, 70, 30],
    "ì˜ì–´": [90, 70, 60, 40],
    "ìˆ˜í•™": [90, 60, 80, 70],
}
columns = ["êµ­ì–´", "ì˜ì–´", "ìˆ˜í•™"]
index = ["ì¶˜í–¥", "ëª½ë£¡", "í–¥ë‹¨", "ë°©ì"]
df = pd.DataFrame(data, index=index, columns=columns)

In [ ]:
df

    êµ­ì–´  ì˜ì–´  ìˆ˜í•™
ì¶˜í–¥  80  90  90
ëª½ë£¡  90  70  60
í–¥ë‹¨  70  60  80
ë°©ì  30  40  70

In [ ]:
df['ìˆ˜í•™']

ì¶˜í–¥    90
ëª½ë£¡    60
í–¥ë‹¨    80
ë°©ì    70
Name: ìˆ˜í•™, dtype: int64

In [ ]:
df[['êµ­ì–´', 'ì˜ì–´']]

    êµ­ì–´  ì˜ì–´
ì¶˜í–¥  80  90
ëª½ë£¡  90  70
í–¥ë‹¨  70  60
ë°©ì  30  40

In [ ]:
# df['í‰ê· '] = (df['êµ­ì–´'] + df['ì˜ì–´'] + df['ìˆ˜í•™']) / 3
df['í‰ê· '] = df.mean(axis=1)
df

    êµ­ì–´  ì˜ì–´  ìˆ˜í•™         í‰ê·
ì¶˜í–¥  80  90  90  86.666667
ëª½ë£¡  90  70  60  73.333333
í–¥ë‹¨  70  60  80  70.000000
ë°©ì  30  40  70  46.666667

In [ ]:
df[0:1]

    êµ­ì–´  ì˜ì–´  ìˆ˜í•™         í‰ê·
ì¶˜í–¥  80  90  90  86.666667

In [ ]:
df.T['í–¥ë‹¨']

êµ­ì–´    70.0
ì˜ì–´    60.0
ìˆ˜í•™    80.0
í‰ê·     70.0
Name: í–¥ë‹¨, dtype: float64

# ë°ì´í„° ì…ì¶œë ¥

## CSV íŒŒì¼ ì…ë ¥

In [ ]:
# comma seperated values : comma(,)ë¡œ êµ¬ë¶„ëœ ê°’ë“¤
# ìƒ˜í”Œ ë°ì´í„° ë§Œë“¤ê¸°
%%writefile sample1.csv
c1,c2,c3
1,1.11,one
2,2.22,two
3,3.33,three

Writing sample1.csv

In [ ]:
# pd.read_csv(íŒŒì¼ì´ë¦„) : CSVíŒŒì¼ë¡œë¶€í„° ë°ì´í„°ë¥¼ ì½ì–´ ë°ì´í„°í”„ë ˆì„ ë§Œë“¤ê¸°
pd.read_csv('sample1.csv')

   c1    c2     c3
0   1  1.11    one
1   2  2.22    two
2   3  3.33  three

In [ ]:
# ë§Œì•½ ë°ì´í„° íŒŒì¼ì— ì—´ ì¸ë±ìŠ¤ ì •ë³´ê°€ ì—†ëŠ” ê²½ìš°ì—ëŠ” read_csv ëª…ë ¹ì˜ names ì¸ìˆ˜ë¡œ ì„¤ì • ê°€ëŠ¥
%%writefile sample2.csv
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample2.csv

In [ ]:
pd.read_csv('sample2.csv')

   1   1.11     one
0  2   2.22     two
1  3   3.33   three

In [ ]:
pd.read_csv('sample2.csv', names=['c1', 'c2', 'c3']) # names=[ì—´ ì´ë¦„ ë¦¬ìŠ¤íŠ¸]

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [ ]:
# ë§Œì•½ í…Œì´ë¸” ë‚´ì˜ íŠ¹ì •í•œ ì—´ì„ í–‰ ì¸ë±ìŠ¤ë¡œ ì§€ì •í•˜ê³  ì‹¶ìœ¼ë©´ index_col ì¸ìˆ˜ë¥¼ ì‚¬ìš©
pd.read_csv('sample2.csv', names=['c1', 'c2', 'c3'], index_col=2) # index_col=në²ˆì§¸ë¥¼ ì§€ì •(0ë¶€í„° ->index)

        c1    c2
c3
 one     1  1.11
 two     2  2.22
 three   3  3.33

## CSV íŒŒì¼ ì¶œë ¥

In [ ]:
df = pd.read_csv('sample1.csv')
df

   c1    c2     c3
0   1  1.11    one
1   2  2.22    two
2   3  3.33  three

In [ ]:
df['c4'] = df['c1'] + df['c2']
df

   c1    c2     c3    c4
0   1  1.11    one  2.11
1   2  2.22    two  4.22
2   3  3.33  three  6.33

In [ ]:
df.to_csv('sample3.csv')

In [ ]:
!cat sample3.csv

,c1,c2,c3,c4
0,1,1.11,one,2.1100000000000003
1,2,2.22,two,4.220000000000001
2,3,3.33,three,6.33

In [ ]:
df.to_excel('sample3.xlsx')

In [ ]:
pd.read_excel('sample3.xlsx', index_col = 0)

   c1    c2     c3    c4
0   1  1.11    one  2.11
1   2  2.22    two  4.22
2   3  3.33  three  6.33

## ì¸í„°ë„· ìƒì˜ CSV íŒŒì¼ ì…ë ¥
* ì›¹ìƒì—ëŠ” ë‹¤ì–‘í•œ ë°ì´í„° íŒŒì¼ì´ CSV íŒŒì¼ í˜•íƒœë¡œ ì œê³µ
* read_csv ëª…ë ¹ ì‚¬ìš©ì‹œ íŒŒì¼ íŒ¨ìŠ¤ ëŒ€ì‹  URLì„ ì§€ì •í•˜ë©´ Pandasê°€ ì§ì ‘ í•´ë‹¹ íŒŒì¼ì„ ë‹¤ìš´ë¡œë“œí•˜ì—¬ ì½ì–´ë“¤ì„

In [ ]:
url = 'https://raw.githubusercontent.com/qus0in/230621_pandas/main/titanic.csv'
titanic_df = pd.read_csv(url)
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

* ë§Œì•½ ì•ì´ë‚˜ ë’¤ì˜ íŠ¹ì • ê°¯ìˆ˜ë§Œ ë³´ê³  ì‹¶ë‹¤ë©´ `head` ë©”ì„œë“œë‚˜ `tail` ë©”ì„œë“œë¥¼ ì´ìš©
* ë©”ì†Œë“œ ì¸ìˆ˜ë¡œ ì¶œë ¥í•  í–‰ì˜ ìˆ˜ë¥¼ ë„£ì„ ìˆ˜ë„ ìˆìŒ

In [ ]:
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
titanic_df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [ ]:
gas_data = pd.read_csv("í•œêµ­ê°€ìŠ¤ê³µì‚¬_ì›”ë³„ ì²œì—°ê°€ìŠ¤ ìƒì‚°ëŸ‰_20221031.csv", encoding='cp949')
gas_data

      ì—°ë„   ì›”          ìƒì‚°ëŸ‰
0   2016   1  4288593.000
1   2016   2  3592400.000
2   2016   3  3201669.000
3   2016   4  2135286.000
4   2016   5  1989360.000
..   ...  ..          ...
77  2022   6  2877369.949
78  2022   7  3175651.631
79  2022   8  2885559.384
80  2022   9  2575865.622
81  2022  10  2932386.685

[82 rows x 3 columns]